* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'Helvetica', serif;
  color: #fcf9f9;
}

button {
  width: 130px;
  height: 30px;
  appearance: none;
  font-weight: 600;
  border-radius: 5px;
  border: none;
}

body {
  background-image: url('background.webp');
}

div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container-library {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  border: 4px solid #000000;
  border-radius: 10px;
  grid-row: 2;
  grid-column: 1;
  padding: 5%;
}

.book-title {
  font-size: 1.4em;
  font-weight: 400;
}

.book {
  background-color: #9b94a8;
  padding: 10px;
  width: 200px;
  height: 250px;
  font-weight: 200;
  border-radius: 5px;
  border: 2px solid #ffffff;
}

.read {
  background-color: #f24624;
}

.not-read {
  background-color: #46f480;
}

.book-remove {
  color: #000000;
}

.container-heading {
  text-align: center;
  grid-column: 1 / -1;
  font-size: 3em;
  justify-self: center;
  align-self: center;
}

.container {
  width: 90vw;
  height: 90vh;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 10fr;
  /* From https://css.glass */
  background: rgba(173, 151, 151, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.3px);
  -webkit-backdrop-filter: blur(12.3px);
  border: 1px solid rgba(173, 151, 151, 0.3);
}
